@model IEnumerable<FilmReviews.Web.ViewModels.Movie>

@{
    ViewData["Title"] = "GetAllMovies";
}

<h1>Movies</h1>
<hr/>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3 movie">
            <div class="card-deck h-100" style="width: 12rem;">
                <img class="card-img-top" src="@item.Poster" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <div class="btn-group">
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ImdbId">Details</a>
                        <a onclick=Delete("/Movie/Delete/@item.ImdbId") class="btn btn-outline-warning" asp-action="Delete" asp-route-id="@item.ImdbId">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        function Delete(url) {
            swal({
                title: "Are you sure you want to delete movie and all related reviews?",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function () {
                            refreshPage();
                        },
                        error: function () {
                            swal({
                                title: "An error occurred on the server.",
                                icon: "error"
                            });
                        }
                    });
                }
            });
        }
        function refreshPage() {
            location.reload(true);
        }
    </script>
}