@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-transparent">
    <h1 class="display-3 text-primary">Search movie</h1>
    <form class="input-group lead" id="searchForm" onsubmit="movieSearch()">
        <input type="search" name="keywords" class="form-control rounded border-primary" placeholder="Search" aria-label="Search"
               aria-describedby="search-addon" />
        <button type="submit" class="btn btn-primary">search</button>
    </form>
</div>

@section Scripts {
<script src="~/js/site.js"></script>
}