@{
    ViewData["Title"] = "Home Page";
}

<form id="searchForm" onsubmit="movieSearch()">
    <input type="text" name="keywords">
    <input type="submit" value="Search">
</form>

@section Scripts {
<script src="~/js/site.js"></script>
}